@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a private web service designed for individual use and should not be made available to other users.</p>

<p>If you are using a version of this application hosted by someone other than yourself, please contact them for their data protection policies.</p>