@page
@model DanyTCG.Pages.Rarities.Index
@{
    ViewData["Title"] = "Rarity";
}

<div class="container mt-5">
    <h1>Rarities</h1>
    <div class="mb-3">
        <a asp-page="Create" class="btn btn-primary">Create Rarity</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rarity in Model.Rarities)
                {
                    <tr>
                        <td>@rarity.Name</td>
                        <td>TODO delete rarity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
