@page
@model CreateModel
@{
    ViewData["Title"] = "Create Card";
}

<h1>Create Card</h1>
@if (!ModelState.IsValid)
{
    <div class="text-danger">
        <p>There are some errors:</p>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form method="post" class="container mt-5">
    <div class="mb-3">
        <label asp-for="Form.EditionId" class="form-label">Edition:</label>
        <select asp-for="Form.EditionId" asp-items="Model.EditionsDropdown" class="form-select">
            <option>--- Select Edition ---</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Form.CardName" class="form-label">Name:</label>
        <input asp-for="Form.CardName" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Form.CardNumber" class="form-label">Card Number:</label>
        <input asp-for="Form.CardNumber" class="form-control" value="0" />
    </div>
    <div class="mb-3">
        <label asp-for="Form.RarityId" class="form-label">Rarity:</label>
        <select asp-for="Form.RarityId" asp-items="Model.RaritiesDropdown" class="form-select">
            <option>--- Select Rarity ---</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Form.CardCount" class="form-label">Copies to Add:</label>
        <input asp-for="Form.CardCount" class="form-control" value="1"/>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Submit Query"/>
    </div>
</form>