@page
@model IndexModel
@{
    ViewData["Title"] = "Cards";
}
<div class="container mt-5">
    <h1>Cards</h1>
    <div class="mb-3">
        <a asp-page="Create" class="btn btn-primary">Create Card</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Edition</th>
                <th>Name</th>
                <th>Card Number</th>
                <th>Rarity</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var card in Model.Cards)
            {
                <tr>
                    <td>@card.Edition.Name</td>
                    <td>@card.Name</td>
                    <td>@card.CardNumber.ToString("000")</td>
                    <td>@card.Rarity.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>